<!-- One way data binding - String interpolation -->
<p>Name: {{name}}</p>
<p> Age : {{age}}</p>

<p>Mobile Name : {{product.mname}}</p>
<p>Price: {{product.price}}</p>

<!-- One way data binding - property binding -->
<button [disabled]="name ==='sun'">add</button>
<button [attr.aria-hidden]="">remove</button>

<!-- One way data binding - event binding -->
<br>
<input type="text" [value]="name" (input)="onChange()">
<input type="text" (input)="onChangeSecondExample($event)">
<p>current input value : {{name}}</p>

<button (click)="increment($event)" [disabled]="isAddToCartDisabled">+</button>
<span>{{addtoCart}}</span>
<button (click)="decrement($event)" [disabled]="isDecrementDisabled">-</button>