<p>navbar works!</p>
<!-- bootstarp install -->
<!-- npm i --save bootstarp //common install -->
<!-- npm i -- save bootstarp@3 // with include bootstarp version -->
<!-- npm uninstall bootstarp // uninstall bootstarp  -->

<!-- we add path in two way -->
<!-- 1. style.ts top => @import '~../node-modules/bootstarp/list/css/bootstarp.min.css' -->
<!-- 2. angular.json => 'styles': [
"node-modules/bootstarp/list/css/bootstarp.min.css",
] -->

<!--  -->
<!-- adding fonts -->
<!-- goto browser search google fonts => ex: => montserrat & conert one. -->
<!-- style.css top => import link ah google la erunthu copy paste -->

<!--  -->
<!-- adding fontaswome icons -->
<!-- go to browser search font aswome icons => get start => enter email => we get url from mail & copy paste style.css top -->


<!--  -->
<!-- componet creating using cli -->
<!-- ng g c navbar  -->
